.sidebar{
    font-family: "Epistle"; 
    font-size: 15px;
    margin-left: 20px;
}
.header{
    font-family: "Epistle"; 
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20;
}

.korobka{
    display: flex;
    margin-right: 20px;
}

.text{
    margin-left: 20px;
    font-family: "Epistle"; 
    font-size: 17px;
    margin-top: 20px;
}

.monkey{
    margin-left: 20px;
    margin-top: 20px;
}

.tittle{
    font-size: 30px;
}

.tittle1{
    font-family: "Epistle"; 
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.korobka1{
    display: flex;
    margin-right: 20px;
}

.text1{
    margin-left: 20px;
    font-family: "Epistle"; 
    font-size: 17px;
    margin-top: 20px;
    
}

.bl{
    margin-left: 20px;
    margin-top: 20px;
    float: inline-end;
}

.korobka2{
    display: flex;
    margin-right: 20px;
}

.text2{
    margin-left: 20px;
    font-family: "Epistle"; 
    font-size: 17px;
    margin-top: 20px;
    
}

.text3{
    margin-left: 20px;
    font-family: "Epistle"; 
    font-size: 17px;
    margin-top: 20px;
    
}

.tittle2{
    font-family: "Epistle"; 
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}
